:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);    

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
}

h2{
    font-size: 1.5rem;
}

p, h2{
    color: var(--dark-grayish-blue);
}

h1, h3{
    color: var(--very-dark-blue);
}

a{
    text-decoration: none;
    color: var(--very-dark-blue);
}

.container{
    width: 95%;
    max-width: 500px;
    margin-inline: auto;
}

.hidden{
    display: none !important;
}

.navbar{
    padding: 1.5rem 0;
}

.desktop-image{
    display: none;
}

.nav-fullscreen,
.nav-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popout-closed img,
.popout-open img{
    cursor: pointer;
}

.nav-mobile{
    position: relative;
}

.popout-open{
    position: absolute;
    top: 0;
    right: 0;
    left: 35%;
    bottom: 0;
}

.popout-open img{
    position: absolute;
    top: 10%;
    right: 2%;
}

.mobile-nav-links{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1.5rem;
    padding: 4rem 1rem;
    font-size: 1.1rem;
}

.nav-fullscreen{
    display: none;
}

.fullscreen-nav-links{
    display: flex;
    gap: 2rem;
    
}

.fullscreen-nav-links a{
    transition: color 0.3s ease-in;
}

.fullscreen-nav-links a:hover{
    color: var(--soft-red);
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-h1{
    max-width: 10ch;
}

.read-more{
    background-color: var(--soft-red);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: .7rem;
    letter-spacing: 3px;
    max-width: 150px;
    padding: .5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.read-more:hover{    
    background-color: var(--very-dark-blue);
}

.divider-line{
    border-top: 1px solid var(--dark-grayish-blue);
    opacity: .3;
}

.hero-info-block{
    background-color: var(--very-dark-blue);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-info-block h2{
    color: var(--soft-orange);
    font-weight: 600;
    font-size: 2rem;
}

.hero-info-block h3{
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.hero-info-block h3:hover {
    color: var(--soft-orange);    
}

.hero-info-block p{
    color: var(--dark-grayish-blue);
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
}

.card{
    display: flex;
    gap: 1rem;
}

.card-image{
    width: 30%;
    max-width: 100px;
}

.card-info{
    width: 65%;
}

.card-info h2{
    color: var(--grayish-blue);
}

.card-info h3{
    font-weight: 900;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.card-info h3:hover{
    color: var(--soft-red);
}

.attribution{
    text-align: center;    
}

.attribution a{
    transition: color 0.3s ease-in;
}

.attribution a:hover{
    color: var(--soft-red);
}

@media (min-width: 800px){
    .container{
        max-width: 1100px;
    }

    .nav-mobile{
        display: none;
    }

    .nav-fullscreen{
        display: flex;
        flex-direction: row;
    }

    .mobile-image{
        display: none;
    }

    .desktop-image{
        display: grid;        
    }

    .hero-image{
        grid-area: image;
    }

    .hero-h1{
        grid-area: hero-h1;
    }

    .hero-description{
        grid-area: hero-description;
    }

    .hero-info-block{
        grid-area: hero-info-block;
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "image image hero-info-block"
        "hero-h1 hero-description hero-info-block";
    }

    .cards{
        flex-direction: row;
    }
}